<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>


<table class='table'>
  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><strong><%= visit.ip %></strong></td>
        <td><strong><%= visit.user_agent %></strong></td>
      </tr>
      <% visit.events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.properties %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>